<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leon.jetpack">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".hilt.application.HiltApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jetpack">
        <activity android:name=".widgets.fragment.FragmentMainActivity"></activity>
        <activity
            android:name=".camerax.CameraXMainActivity"
            android:theme="@style/notitlefullscreen" />
        <activity android:name=".widgets.motionlayout.MotionLayoutMainActivity" />
        <activity android:name=".widgets.floatingactionbutton.FloatingActionButtonMainActivity" />
        <activity android:name=".widgets.LayoutContainerMainActivity" />
        <activity android:name=".widgets.constraintlayout.ConstraintLayoutMainActivity" />
        <activity android:name=".widgets.cardview.CardViewMainActivity" />
        <activity android:name=".navigator.NavigatorMainActivity" />
        <activity android:name=".paging.PagingMainActivity" />
        <activity android:name=".workmanager.WorkManagerMainActivity" />
        <activity android:name=".room.RoomMainActivity" />
        <activity android:name=".livedata.LiveDataMainActivity" />
        <activity android:name=".viewmodel.ViewModelActivity" />
        <activity android:name=".databinding.DataBindingMainActivity" />
        <activity android:name=".hilt.activity.HiltActivity" />
        <activity android:name=".lifecycle.LifecycleActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.wmsca.invoke" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 全屏设置必须的 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
    </application>

</manifest>